.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/caches/build_file_checksums.ser
/.idea/caches/gradle_models.ser
/.idea/codeStyles/Project.xml
/.vs/android-webui-sdk/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/private_key_sender.asc
/public_key_sender.asc
.idea
*.gpg
**/build
node_modules
.classpath
.project
*.prefs
dist